<html>  
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>

                <div class="flex items-center justify-center h-[100%] w-[100%]">
                    <div class="border-blue-500 border-4 mt-3">
                        <p class=" underline flex justify-center itens-center text-8xl font-mono text-blue-500 m-5 ">PONG - HEALTHY </p>      
                    </div>   
                </div> 

</html>